body{
    margin: 0px;
    padding: 0px;
     display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.box{
    background-color: rgb(228, 228, 171);
    border: black solid 2px;
}
h1{
    font-family: sans-serif;
    font-weight: 800;
    padding: 20px 40px;
    align-items: center;
}